#box1{
    display:flex;
    justify-content:center;
}
.img1{
    width:265px;
    height:330px;
}
#Image{
    margin-right:20px;
}
#box2{
    display:flex;
    justify-content:space-between;
}
#box3{
    display:flex;
    justify-content:space-between;
}
#box4{
    display:flex;
    justify-content:center;
}
#box5{
    display:flex;
    justify-content:center;
}
#box6{
    display:flex;
    justify-content:center;
}
#box7{
    display:flex;
    justify-content:center;
}
#box8{
    display:flex;
    justify-content:center;
}
.image-container{
    position: relative;
    display: inline-block;
}
.text-overlay {
    position: absolute;
    top: 50%;  /* Adjust positioning */
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FE6E3A;  /* Text color */
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}